<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.service"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- 这里指定action是为了方便其他应用注册此服务 -->
        <service android:name="com.demo.service.AidlService" >
            <intent-filter>
                <action android:name="com.demo.service.aidl" />
            </intent-filter>
        </service>
        
    </application>

</manifest>